html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.app {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: black;
  margin-bottom: 10px; /* Reduced margin */
}

nav ul li {
  padding: 10px; /* Reduced padding */
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.current {
  border-bottom: 2px solid white; /* Reduced border thickness */
}

h1 {
  margin-bottom: 10px; /* Reduced margin */
}

p {
  margin-bottom: 10px; /* Reduced margin */
}