@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

/*https://coolors.co/c41818-000200-000408-250406-e4b0b0-a12c34-fdf9fa*/

:root {
  --primary-color: #ff7669;
  --secondary-color: #fee380;

  --background-color: #FDF9FA;
  --card-background-color: #000000;
  --card-color: #FDF9FA;
  --title-color: #520050;
  --text-color: #333333;
  --text-white: #FDF9FA;
  --link-color: #0077cc;
  --card-title-color: #C41818;
  --card-text-color: #000000;

  --fir-font-article: "adobe-garamond-pro", "Times New Roman", Times;
  --fir-font-header: "foco", Helvetica;
  --fir-color-grey: rgba(0,0,0, 0.40);

  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px; /*multiply by 1.618*/
  line-height: 1.5;
}

body {
  position: relative;
  z-index: -10;
}

.home-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.Top-wrap{
  height: 100vh;
  background-image: url('../Images/Header-background.jpg');
  background-size: cover;
  background-position: center calc(50% - 4px);
  image-rendering: smooth; /* or 'auto' */
  border-radius: 0 0 30px ;

}

/*  ------------- NAV  ---------------*/

.Nav-menu-icon {
  position: absolute;
  display: none;
  margin: 1px;
  top: 0;
  right: 0;
  z-index: 10;

}


.Nav-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  padding: 2px 20px 2px 2px;
  
}
.Nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  font-size: 1.168em;
  font-weight: 700;
  transform: translateX(-50px);
  

}
.Nav-links a {
  color: var(--text-white);
  padding: 10px; /* Add some padding so the text isn't too close to the border */
  text-decoration: none; /* Optional: remove the underline from the links */

}
@media (max-width: 1000px) {
  .Nav-container .Nav-menu-icon {
    display: inline-flex;
  }

  .Nav-container .Nav-links {
    display: none;
    

  }
  .Nav-links img {
    display: none;
  }
  
  /* Show the links when the button is clicked */
  .Nav-links.button-clicked {
    display: flex;
    font-size: 1em;
  }

}
/*  ------------- NAV  ---------------*/


/*  ------------- Header  ---------------*/

.header-wrap {
  max-height: 100vh;
  
}
.Header-container {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-top: 5%;

}

.Header-container > :first-child { /* title text */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header-container > :last-child { /* allvekst video */
  display: flex;
  width: 50%;
}



.Header-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;

}

.Header-text h2 {
  font-size: 2.618em;
  color: var(--primary-color);
  margin: 0;
}

.Header-text p {
  font-size: 1.618em;
  color: var(--text-white);
  text-align: center;
  padding: 0px 20px 10px 20px;
  margin: 0px;
}
.Header-video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.Header-video video {
  box-sizing: border-box;
  width:80%;
  height: 100%;
  position: relative;
  border: 2px solid white;
  border-radius: 20px;

  
}


@media (max-width: 1000px) {
  .Header-container {
    flex-direction: column;
    gap: 20px;
  }
  
  .Header-container > :first-child {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .Header-container > :last-child {
    width: 100%;
  }

  .Header-Logo {
    width: 30%;
  }
  .Header-video video {
    width:100%;
  }
}

/*  ------------- Header  ---------------*/









/*  ------------- FlipCard content ---------------*/
.categories-wrap {
  position: relative;
  padding: 10vh 0 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: var(--primary-color);
  border-radius: 30px 0 30px 30px;
}

.flip-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(75vh, auto);
  gap: 35px;
  width: 85vw;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--card-color);
  overflow: hidden;
  border-radius: 10px;
}

.flip-card h1 {
  font-size: 1.618em;
  background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 0;
}

.flip-card p {
  font-size: 1em;
  color: var(--card-text-color);
  text-align: left;
  padding: 20px;
  margin: 0;
}

.flip-card-arrow {
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: auto;
  height: 8%;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.5s ease-in-out;

}
.flip-card-arrow-flipped{
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: auto;
  height: 8%;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}

.flip-card-contact-details {
  display: flex;
  align-items: top;
  margin-bottom: 40px;
  position: relative;
  text-decoration: none;
  line-height: 1.1;
}

.flip-card-contact-details img {
  height: 100%;
  width: auto;
  border-radius: 100px;
  margin: 0 10px;
  border-right: 1px solid var(--fir-color-grey);
}

.flip-card-contact-details-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  
}

.flip-card-contact-details h2, .flip-card-contact-details p {
  font-family: var(--fir-font-header);
  font-size: 16px;
  color: var(--fir-color-grey);
  margin: 0;
  padding: 0px;
}

.flip-card-contact-details h2 {
  margin-bottom: 10px;
}

.flip-card-clickable-area {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
}

.flip-card-front > :first-child { /* Front Card image */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.flip-card-front > :last-child {/* Front Card Content */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 50%;
}


.flip-card-back > :first-child { /*Back card Title   */
  height: 10%;
}

.flip-card-back > :last-child {  /*Back card content */
  display: flex;
  flex-direction: column;
  height: 90%;
}

.flip-card-back > :last-child > :first-child { /* contact image / info */
  height: 20%;
  
}

.flip-card-back > :last-child > :last-child { /* content info*/
  height: 80%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.flip-card-title-img{
  width: 100%;
  height: 70%;
  object-fit: cover;
  
}



.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-flipped .flip-card-inner {
  transform: rotateY(180deg);
}


@media (max-width: 1000px) {
  /*Sizes the cards for mobile*/
  .flip-container {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100vh, auto);
    width: 100%;
  }

  /*styles the text inside*/
  .flip-card h1{
    font-size: 1.618em;
  }
  .flip-card p{
    font-size: 0.9em;
  }
}




/*  ------------- Flipcard content ---------------*/













/*  ------------- NEWS ---------------*/


.news-wrap {
  margin: 3vh 0;
  padding: 3vh 3vh;
  display: flex;
  box-sizing: border-box;
  justify-content: left;
  align-items: center;
  width: 100%;

}

.news-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.news-nav {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
}
.news-nav button {
  margin-right: 5px;
  padding: 10px 20px; /* Make buttons bigger */
  font-size: 2em; /* Increase font size */
  border: 0px solid #000;
  background: none; /* Remove default button background */
}
.news-category-text {
  display: inline-flex;

}
.news-category-icon {
  display: none;
}
.news-nav button.nav-active {
  border-bottom: 2px solid #00000050;; /* Add a border under the active button */
}

.news-container {
  display: flex;
  flex-direction: row; /* Changes the direction of the flex items */
  flex-wrap: nowrap; /* Allows the items to wrap onto the next line if there isn't enough space */
  justify-content: left; /* Aligns content horizontally */
  gap: 10px;
  width: 100%; /* Takes up the whole row horizontally */
  height: 100%; /* Takes up the whole row vertically */
}

.news-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #000; /* Add a 1px solid black border */
  border-radius: 10px;
  width: 28vw;
  height: 150px;
}

.news-content > :first-child { /* Title text*/
  width: 70%; /* This will make the first child (news-text) take up 70% of the width */
  font-size: 1em;
}

.news-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: left;

}
.news-text h2 {
  color: #666;
  text-decoration: none;
}

.news-content > :last-child { /*Image preview*/
  width: 30%; /* This will make the last child (news-image) take up 30% of the width */
  max-width: 100%; /* This will allow the image to take up to 100% of its container's width */
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


@media (max-width: 1000px) { /* Adjust this value based on when you want the desktop styles to take effect */
  
  /* Hide the text and show the icon when the screen is less than 1000px wide */
  .news-category-text {
    display: none;
  }

  .news-category-icon {
    display: inline-flex;
  }

  .news-content {
    display: none;
    width: 100%;
    margin: 10px;
    box-sizing:border-box;
  }

  .news-content.first-item {
    display: flex;
  }
}
/*  ------------- NEWS ---------------*/












/*  ------------- Footer ---------------*/

.footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

}

.footer-section {
  display: flex;
  justify-content: space-evenly; /* or space-evenly */
  align-items: center;
  flex: 1;
  margin-bottom: 5vh;
}
.footer-section h1 {
  margin-bottom: 10px;
  font-size: 2em;
  color: var(--fir-color-grey);
  text-align: center;
}
.footer-section a {
  text-decoration: none;
  text-align: center;

}

.footer-section .footer-content {
  display: flex;
  flex-direction: row;
  align-items: center; /* Aligns items vertically in the middle */
  gap: 10px;
}
.Footer-rights {
  display:flex;
  position: relative;
  justify-content: center;
  gap: 10px;
  bottom: 0;
  width: 100%;
  height:auto;
  z-index: 1; /* Adjust as needed */
  color: var(--fir-color-grey);
  
}

.Footer-rights a {
  text-decoration: none;
  color: var(--link-color);
}

.footer-section img {
  min-width: 50px;
  min-height: 50px;
  height: 7vh;
}
/* Adds hover effects for the social images and .footer-content images */
.footer .footer-content-social img, .footer .footer-content img {
  transition: transform 0.3s ease; /* Smooth transition */
}

.footer .footer-content-social img:hover, .footer .footer-content img:hover {
  transform: scale(1.2); /* Scales the image up to 120% */
}


@media (max-width: 1000px) {
  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .footer-section .footer-content {
    order: 3;
  }
}
/*  ------------- Footer ---------------*/
